# Node.js dependencies
/node_modules
/dist
/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
# These files should contain sensitive information.
.env
.env.local
.env.*.local

# Local development and IDE files
.vscode/
.idea/
.history
*.sublime-project
*.sublime-workspace

# OS and temporary files
.DS_Store
Thumbs.db

# npm package files
package.json
package-lock.json